.items-container{
    padding: 16px;
}
.text-header {
    font-weight: 600;
    font-size: 18px;
}
.parent {
    display: flex;
}
.child-container {
    padding: 10px;
    margin: 6px;
    border : 1px solid rgba(0, 0, 0, 0.216);
}

.no-item-found {
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    padding: 72px;
}